sync_files
config.py
__pycache__
wishlist.db
.DS_Store
user_ids_test.csv
user_ids.csv
log.log
pic_8march_1.jpeg
pic_8march_2.jpeg
user_ids_bday.csv
user_ids_bday_test.csv
pics/individual_postcard01_text.jpeg
reply_buttons_file.csv
